*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: salmon;
    
}

.Card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    
}

#card1{
    
    background-color: blue;
    z-index: 4;
}

#card2{
    transform: translate(-50%,-50%) rotate(-10deg);
    background-color: blueviolet;
    z-index: 3;
    
}
#card3{
     transform: translate(-50%,-50%) rotate(-16deg);
    z-index: 2;
    background-color: brown;
}
#card4{
    transform: translate(-50%,-50%)rotate(-24deg);
    background-color: chartreuse;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#card2:hover{
    z-index: 4;
}
#card3:hover{
    z-index: 4;
}
#card4:hover{
    z-index: 4;
}