 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 html,body{
    width: 100%;
    height: 100%;
 }

 #main{
    width: 100%;
    height: 100%;
    background-color: antiquewhite ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';
 }

 .Shape{
    margin-left:  10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200px;
    border: 1px solid black
 }
  h1{
    font-weight: bold;
  }
  #Square:hover{
    background-color: blueviolet;
  }

 #circle{
    border-radius: 50%;
 }
 #circle:hover{
    background-color: aqua;
 }

 #daimond{
    rotate: 45deg;
    margin-top: 60px;
    
 }
 #daimond:hover{
    background-color: brown;
 }

 #daimond h1{
    rotate: -45deg;
 }